/* Reset iniziale */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: #F6F8F9;
}    

/* Header style */

header h1 {
    font-size: 45px;
    display: inline-block;  
}

header img {
    vertical-align: top;
}

header {
    padding: 20px;
    background-color: white;
    margin-bottom: 50px;
}

/* Sections style */

.container {
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

.input {
    padding: 20px 50px;
    border-bottom: 1px solid #C6CCD1;

}

.sections {
    padding: 20px 50px;
    margin-top: 25px;
}

.square, .write-type, .colorated-rectangle {
    display: inline-block;
}

.square-section {
    padding-top: 10px;
}

section > h2 {
    padding-top: 10px;
}

.square{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: green;
    border: 1px solid green;
    padding-bottom: 20px;
}

.square span {
    padding: 2px;
}

.write-type {
    height: 20px;   
    line-height: 20px;
    font-size: 18px;
    padding-top: 10px;
}

.colorated-rectangle {
    width: 80px;
    height: 20px;
    background-color: #45ABE9;
    color: white;
    text-align: center;
    border-radius: 10px;
}


/* Color categoryes */

.azure-backg {
    background-color: #47ADF1;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px;
}

.write-grey {
    background-color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #C6CCD1;
    color: #C6CCD1;
    padding: 5px;
}

#violet {
    background-color: #9C72E4;
}

#green-water {
    background-color: #64C0A9;
}

#orange {
    background-color: orange;
}

#rosa {
    background-color: #D863A0;
}

#green {
    background-color: #B0C926;
}

#red, #red-double{
    color: red;
    border: 1px solid red;
    padding-bottom: 20px;
}

